# Visual Studio
.vs/
ipch/

*.vcxproj.user
*.aps

# Binary (Linux)
*.bin
*.so
*.a
*.o

# Binary (Windows)
*.exe
*.dll
*.lib
*.obj
*.pdb
*.exp

# Binary (macOS)
*.bin
*.dylib
*.a
*.o

# Compilation
[Bb]in/
[Oo]bj/

# Repository
*.temp.*

# Windows
[Dd]esktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
