# Visual Studio
.vs/

*.vcxproj.user

# Binary (Linux)
*.bin
*.so
*.a
*.o

# Binary (Windows)
*.exe
*.dll
*.lib
*.obj

# Fallout
*.dat
*.sav
*.fos

# Compilation
bin/
obj/

# Windows
[Dd]esktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
