# Visual Studio
.vs/
ipch/

*.vcxproj.user
*.aps

# Output (Linux)
*.o
*.out
*.so
*.a

# Output (Windows)
*.obj
*.exe
*.dll
*.lib
*.pdb
*.exp

# Output (macOS)
*.o
*.out
*.dylib
*.a

# Compilation
[Bb]in/
[Oo]bj/

# Repository
*.temp.*

# Windows
[Dd]esktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
