# macOS build workflow

name: Build macOS

on:
  push:
    branches:
      - "**"
    paths:
      - "macos/**/*.makefile"
      - "macos/**/makefile"
      - "src/**/*.h"
      - "src/**/*.c"
      - "src/**/*.hpp"
      - "src/**/*.cpp"
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up environment
        run: |
          sudo xcode-select --switch /Applications/Xcode.app/Contents/Developer

      - name: Building
        run: |
          cd macos/

          make

      - name: Builiding test
        run: |
          cd macos/test/

          make

      - name: Checking
        run: |
          cd macos/bin/

          archs=(
            "arm64"
          )

          outputs=(
            "libcfallsave.dylib"
            "cfallsave.test.out"
            "libcfallsave++.dylib"
            "cfallsave++.test.out"
          )

          for arch in "${archs[@]}"; do
            for output in "${outputs[@]}"; do
              if [ ! -f "$arch/$output" ]; then
                echo "$output build for macOS failed!"

                exit 1
              fi
            done
          done
