# Linux build workflow

name: Build Linux

on:
  push:
    branches:
      - "**"
    paths:
      - "test/*.makefile"
      - "test/makefile"
      - "*.makefile"
      - "makefile"
      - "src/**/*.h"
      - "src/**/*.c"
      - "src/**/*.hpp"
      - "src/**/*.cpp"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up environment
        run: |
          sudo apt install gcc g++ make

      - name: Building
        run: |
          make -f cfallsave.makefile
          make -f cfallsave++.makefile

      - name: Builiding test
        run: |
          cd test/

          make -f cfallsave.test.makefile
          make -f cfallsave++.test.makefile

      - name: Checking
        run: |
          cd bin/

          archs=(
            "i686"
            "x86_64"
            "aarch64"
          )

          outputs=(
            "libcfallsave.so"
            "cfallsave.test.out"
            "libcfallsave++.so"
            "cfallsave++.test.out"
          )

          for arch in "${archs[@]}"; do
            for output in "${outputs[@]}"; do
              if [ ! -f "$arch/$output" ]; then
                echo "$output build for Linux failed!"

                exit 1
              fi
            done
          done
